<body>
  <header class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6"  [routerLink]="[ '/products' ]">
      <img src="/images/logo.png" height="28">
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="isLoggedIn()" class="dropdown">
      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" (click)="dropdownToggle()">
        {{ fullname }}
        <img src="/images/default-profile.png" height="32" width="32">        
      </button>
      <ul class="dropdown-menu" [ngClass]="{'hide' : dropdownKey}">
        <li>
          <a class="dropdown-item" href="#">
            <img src="/icons/profile.png" class="dropdown-menu-icons">
            Profilim
          </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <a class="dropdown-item" [routerLink]="[ '/cart' ]">
            <img src="/icons/cart.png" class="dropdown-menu-icons">
            Sepetim
          </a>
        </li>
        <li>          
          <a class="dropdown-item" [routerLink]="[ '/order' ]">
            <img src="/icons/bag.png" class="dropdown-menu-icons">
            Siparişlerim
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <img src="/icons/address.png" class="dropdown-menu-icons">
            Adreslerim
          </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <a class="dropdown-item" (click)="logOut()">
            <img src="/icons/logout.png" class="dropdown-menu-icons">
            Çıkış Yap</a>
        </li>
      </ul>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav *ngIf="isLoggedIn()" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="[ '/products' ]">
                <span data-feather="home" class="align-text-bottom"></span>
                Mağaza
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"  [routerLink]="[ '/addproduct' ]">
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                Ürün Ekle
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main [ngClass]="{'col-md-9 ms-sm-auto col-lg-10 px-md-4 p-1 bg-light' : isLoggedIn()}">
        <router-outlet />
      </main>
    </div>
  </div>
</body>