<div class="cart-div row">
  <div *ngIf="user.cart!.length != 0" class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 text-center">
    <h3 class="cart-title">{{ title }}</h3>
  </div>
</div>
<div class="row">
  <div class="card col-md-8 offset-md-2 p-2 cart-products-div">
    <div *ngFor="let product of user.cart">
      <div class="card col-md-12 mb-1">
        <div class="row text-center align-items-center">
          <div class="col-md-3">
            <img
              src="{{ product!.imageUrl }}"
              class="card-img-center cart-product-image"
            />
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title d-flex justify-content-start">
                {{ product!.name }}
              </h5>
              <p class="card-text d-flex justify-content-start">
                {{ product!.description }}
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-4 align-self-center">
                <button type="button" class="btn" (click)="minusProduct(product)"> <b>-</b></button>
              </div>
              <div class="col-md-4 align-self-center">
                <p class="card-text">
                  <b>{{ product.cartCount }}</b>
                </p>
              </div>
              <div class="col-md-4 align-self-center">
                <button type="button" class="btn" (click)="plusProduct(product)"><b>+</b></button>
              </div>
            </div>
            <div class="row">
              <h6>
                <b>{{ (product?.cartCount ?? 0) * (product?.price ?? 0) | currency : "EUR" }}</b>
              </h6>
            </div>
            <div class="row">
              <p class="card-text mb-2">
                {{ product?.cartCount ?? 0 }} * {{ product?.price ?? 0 }}
              </p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <button type="button" class="btn btn-danger" (click)="deleteProduct(product)">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row align-items-center g-0 p-2">
        <div class="col-md-9 text-start align-self-center">
          <h6>Toplam Tutar : {{ totalCost | currency : "EUR" }}</h6>
        </div>
        <div class="col-md-3 text-end">
          <button class="btn btn-primary" (click) = "getOrder()">Sepeti Onayla</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="user.cart!.length == 0" class="alert alert-danger">
  <h4 class="text-center"> {{emptyMessage}}</h4>
</div>
